{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="description"
              content="Student Course Management System - Manage and track student courses">
        <meta name="keywords" content="student, course, management">
        <title>
            {% block title %}
                Student Course Management
            {% endblock title %}
        </title>
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'polls/css/style.css' %}">
        {% block extra_css %}
        {% endblock extra_css %}
    </head>
    <body>
        {% block content %}
        {% endblock content %}
    </body>
</html>
